* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
}

/**
    Nav Bar - START
*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 275px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

nav > p {
    font-size: 18px;
    font-weight: bold;
}

.profile {
    display: flex;
    align-items: center;
}
.profile > p {
    display: inline-block;
    font-size: 10px;
}

#profile-pic {
    margin: 7px;
    width: 28px;
    border-radius: 50%;
}

/*
    Nav Bar - END
**/



/**
    Page Structure Styling - START
*/

.main-container {
    padding: 90px 275px;
    display: flex;
    justify-content: space-between;
}

.content-container {
    width: 73%;
}

.project-container {
    width: 24.5%;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

#posters > img {
    width: 100%;
    margin: 6px auto;
}

/*
    Page Structure Styling - END
**/


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #222222;
    color: #FFFFFF;
    padding: 25px 275px;
    font-size: 14px;
    font-weight: 600;
}

footer > div > p {
    display: inline;
    margin: auto 3px;
}