$White : #ffffff;
$fontColor2 : #535E67;
$bodyBackground : #000000;
$buttonColor1 : #B355B7;
$buttonColor2 : #A80000;
$formTitleColor : #041D2E;
* {
    margin: 0;
    box-sizing: border-box;
}

button {
    color: $White;
    font-size: 17px;
    padding: 12px 35px;
    border-radius: 25px;
    border-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #041D2E;
    color: $White;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    #title {
        font-size: 25px;
        font-weight: 400;
        font-family: 'IBM Plex Sans', sans-serif;
        display: flex;
        align-items: center;
        span {
            font-weight: 600;
        }
    }
    #back-btn {
        cursor: pointer;
        display: none;
    }
    div {
        margin: 20px 30px;
        #delete-btn {
            display: none;
            background-color: $buttonColor2;
            margin-right: 14px;
        }
        #delete-all-btn {
            background-color: $buttonColor2;
            margin-right: 14px;
        }
        #edit-btn {
            display: none;
            background-color: $buttonColor1;
        }
        #new-btn {
            background-color: $buttonColor1;
        }
    }
}

body {
    background-color: $bodyBackground;
    font-family: 'Lato', sans-serif;



    #no-notes-container {
        display: none;
        margin: 200px auto;
        text-align: center;
        i {
            font-size: 300px;
            color: #ffffff;
            margin: 25px;
        }
        p {
            color: gray;
            font-size: 30px;
        }
    }

    #load-more-container {
        // display: none;
        position: relative;
        text-align: center;
        margin: 30px auto auto;
        width: 100%;
        button {
            cursor: pointer;
            color: $White;
            font-size: 17px;
            padding: 16px 30px;
            border-radius: 25px;
            border-style: none;
        }
        #load-more-btn {
            position: absolute;
            bottom: 60px;
            left: 45%;
            background-color: $buttonColor1;
        }
    }
    .modal {
        display: none;
        color: $White;
        position: absolute;
        right: 0;
        top: 0;
        width: 35%;
        height: 100vh;
        z-index: 2;
        background-color: $bodyBackground;
        #new-modal {
            display: none;
            padding: 40px;
            div {
                font-size: 15px;
                background-color: $formTitleColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 18px;
                p {
                    color: $White;
                    font-weight: 600;
                }
                i {
                    color: $fontColor2;
                    cursor: pointer;
                }
            } 
            input {
                color: $White;
                border: none;
                background-color: $bodyBackground;
                width: 100%;
                margin: 20px auto;
            }
            #note-title {
                font-size: 30px;
            }
            #note-content {
                font-weight: 100;
                font-size: 18px;
            }
            input:focus {
                outline: none;
            }
            #add-btn {
                position: fixed;
                right: 40px;
                bottom: 25px;
                background-color: $buttonColor1;
            }
        }
        #edit-modal {
            display: none;
            padding: 40px;
            div {
                font-size: 15px;
                background-color: $formTitleColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 18px;
                p {
                    color: $White;
                    font-weight: 600;
                }
                i {
                    color: $fontColor2;
                    cursor: pointer;
                }
            } 
            input {
                color: $White;
                border: none;
                background-color: $bodyBackground;
                width: 100%;
                margin: 20px auto;
            }
            #note-title {
                font-size: 30px;
            }
            #note-content {
                font-weight: 100;
                font-size: 18px;
            }
            input:focus {
                outline: none;
            }
            #save-btn {
                position: fixed;
                right: 40px;
                bottom: 25px;
                background-color: $buttonColor1;
            }
        }
    }
    #main-container {
        color: $White;
        padding: 135px 10.5%;
        margin: auto;
        #note-container {
            width: 100%;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 3vh;
            // background-color: pink;
            a {
                color: inherit;
                display: contents;
            }
        }
        .note {
            width: 314px;
            height: 416px;
            overflow: hidden;
            padding: 25px 20px;
            background-color: #FFA78C;
            border-radius: 5px;
            cursor: pointer;
        }

        #note-display {
            // display: none;
            color: $White;
            width: 57%;
            margin: auto;
            background-color: pink;

            div {
                h2 {
                    font-size: 60px;
                }
                .date {
                    font-size: 15px;
                }
                .content {
                    font-size: 20px;
                    padding: 15px 30px;
                }
            }
        }
    }
}